.grid__container{
    display: grid;
    margin-top: 100px;
    grid-template-areas: "imagenes imagenes imagenes"
                        ". aside ."
                        "footer footer footer";
    justify-content: center;
}     
.text-justify{
    margin-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    
}
.principal{
    grid-area: imagenes;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  img{animation-delay: 0.25s;}
  span:nth-child(2){animation-delay: 0.5s;}
  span:nth-child(3){animation-delay: 1s;}
  span:nth-child(4){animation-delay: 1.25s;}
  
  @keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
  }


@media(max-width:650px){
    .imagen{height: 200px; width: 300px;}
@media(max-width:650px){
    .video{height: 200px; width: 300px;}
@media(max-width:650px){
    .imagen2{height: 200px; width: 300px;}    
}
@media(max-width:650px){
    .aside{display: flex; flex-direction: column;margin-top: 300px; text-align: left; width: 300px;}}


@media(max-width:650px){
    .grid__container{ display: flex;
        flex-direction: column;
    overflow: auto;
  }}
  @media (max-width:650px) {
    .text-justify{
      padding-left: 10%;
padding-right: 10%;
align-items: center;
    }
    
  }

