* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

* {
  margin: 0%;
  padding: 0%; }

html {
  font-size: 62.5%; }

.header {
  background-color: white;
  justify-content: space-around;
  display: flex;
  height: 70px;
  width: 100%;
  flex-direction: row;
  position: fixed;
  top: 0; }
  .header li {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 2rem;
    align-items: center;
    list-style: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: blue; }
    .header li a {
      text-decoration: none;
      color: black;
      transition: color 0.5s; }

.header a:hover {
  color: red; }

.header {
  background-color: white;
  justify-content: space-around;
  display: flex;
  height: 70px;
  width: 100%;
  flex-direction: row;
  position: fixed;
  top: 0; }

.header a:hover {
  color: red; }

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%; }

@media screen and (max-width: 650px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    position: relative; } }

.final {
  font-size: 2rem;
  background-color: #9aa4a4; }
  @media screen and (max-width: 750px) {
    .final {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: fixed;
      font-size: 1.5rem; } }

span {
  color: white; }

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem; }

p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem; }

article {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2.5rem; }

body {
  background-image: url("../recursos/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
