*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size: 62.5%;

}

$li-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$h1-font:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$p-font:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$text-color:blue;

$fuentes:(
    text-chico:1.5rem,
    text-medio:2rem,
    text-grande:2.5rem,
)



