@mixin final ($align){
    text-align: $align;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: azure;
}

@mixin menu ($medida:650px){
    @media screen and (max-width: $medida){
        
display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 150px; 
    position: relative;}}

    @mixin footer ($medida:650px){
        @media screen and (max-width: $medida){
        width:100%;
        justify-content: center; 
        align-items: center;
        text-align: center;
        position: fixed;}}