@import './globals';
@import './mixins';

.header{
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    top: 0;
  li{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size:map-get($fuentes,text-medio );
    align-items: center;
    list-style: none;
    font-family: $li-font;
    color:$text-color;                                                                                                                
    
    a{
      text-decoration: none;
      color: black;
      transition: color 0.5s ;
                   }}
  
}
.header a:hover{
  color: red;
              }.header{
background-color: white;
justify-content: space-around;
display: flex;
height: 70px;
width: 100%;
flex-direction: row;
position: fixed;
top: 0;

}
.header a:hover{
color: red;
            }

footer{
  @include final(center);
}

.header{
  @include menu(650px);
}

.final{
  @include footer();
  font-size: map-get($fuentes,text-medio );
  background-color: rgb(154, 164, 164);
  }
  span{
    color:white
  }
h1{
  font-family: $h1-font; font-size: map-get($fuentes, text-medio );
}

p{font-family:$p-font; margin-left: 10px; margin-right: 10px;font-size: map-get($fuentes, text-medio );}

article{font-family: $p-font; font-size: map-get($fuentes, text-grande );}


body{background-image: url("../recursos/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;}  