.flex__container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
                } 
.flex__container h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        color: crimson;
        text-decoration: underline;
        text-align: center;
                
                }
.flex__container p{ 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 13px;
        text-align: center;
        justify-content: center;
        margin-left: 100px;
        margin-right: 100px;}


    .flex__container section
{gap:100px;}




@media(max-width:650px){
    .principal{display: flex; flex-direction: column;}}
@media(max-width:650px){
    .imagen{height: 200px; width: 300px;}
@media(max-width:650px){
    .video{height: 200px; width: 300px;}
@media(max-width:650px){
    .imagen2{height: 200px; width: 300px;}    
}
@media(max-width:650px){
    .aside{display: flex; flex-direction: column;margin-top: 300px; text-align: left; width: 300px;}}

    @media(max-width:650px){
    .flex__container{ display: flex; margin-top: 200px;
        flex-direction: column;
    overflow: auto;}}