<<<<<<< HEAD
*{
    margin: 0%;
    padding: 0%;
}

.header{
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    top: 0;
    
}

.header li{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

.header a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ;
         }

.header a:hover{
    color: red;
                }

.grid__container{
    display: grid;
    margin-top: 100px;
    grid-template-areas: "texto texto"
                        "img1 img2"
                        "img3 img4"
                        "footer footer";
    justify-content: center;
                }     
.grid__container h2{
    grid-area: texto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid__container img{
    margin: 10px;
    width: 450px; height: 350px;
    transition: 1s;
    opacity: 20%;
}
.grid__container img:hover{
opacity: 100;
}

.img1 {
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4{
    grid-area: img4;
}

.final{
    grid-area: footer;
    text-align: center;
    margin-top: 300px;
}


@media(max-width:650px){
    .principal{display: flex; flex-direction: column; margin-top: 100px;width: 300px;}}
@media(max-width:650px){
    .imagen{height: 200px; width: 300px;}
@media(max-width:650px){
    .video{height: 200px; width: 300px;}
@media(max-width:650px){
    .imagen2{height: 200px; width: 300px;}    
}
@media(max-width:650px){
    .aside{display: flex; flex-direction: column;margin-top: 300px; text-align: left; width: 300px;}}
@media(max-width:650px){
    .header{display: flex; flex-direction: column;
justify-content: center;margin-left: 30px;width: 400px;position: relative;}}

@media(max-width:650px){
    .grid__container{ display: flex;
        flex-direction: column;
    overflow: auto;
    margin-top: 200px;}}

@media(max-width:650px){
        .final
        {width:400px; text-align:left;}
    }
    {.header img{width:150px; heigth:150px}
    }
@media (max-width:650px) 
{.header img{width:150px; heigth:50px}
    }
    .header{display: flex; flex-direction: column;
=======
*{
    margin: 0%;
    padding: 0%;
}

.header{
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: row;
    position: fixed;
    top: 0;
    
}

.header li{
    margin-top: 20px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    align-items: center;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

.header a{
    text-decoration: none;
    color: black;
    transition: color 0.5s ;
         }

.header a:hover{
    color: red;
                }

.grid__container{
    display: grid;
    margin-top: 100px;
    grid-template-areas: "texto texto"
                        "img1 img2"
                        "img3 img4"
                        "footer footer";
    justify-content: center;
                }     
.grid__container h2{
    grid-area: texto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid__container img{
    margin: 10px;
    width: 450px; height: 350px;
    transition: 1s;
    opacity: 20%;
}
.grid__container img:hover{
opacity: 100;
}

.img1 {
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img4{
    grid-area: img4;
}

.final{
    grid-area: footer;
    text-align: center;
    margin-top: 300px;
}


@media(max-width:650px){
    .principal{display: flex; flex-direction: column; margin-top: 100px;width: 300px;}}
@media(max-width:650px){
    .imagen{height: 200px; width: 300px;}
@media(max-width:650px){
    .video{height: 200px; width: 300px;}
@media(max-width:650px){
    .imagen2{height: 200px; width: 300px;}    
}
@media(max-width:650px){
    .aside{display: flex; flex-direction: column;margin-top: 300px; text-align: left; width: 300px;}}
@media(max-width:650px){
    .header{display: flex; flex-direction: column;
justify-content: center;margin-left: 30px;width: 400px;position: relative;}}

@media(max-width:650px){
    .grid__container{ display: flex;
        flex-direction: column;
    overflow: auto;
    margin-top: 200px;}}

@media(max-width:650px){
        .final
        {width:400px; text-align:left;}
    }
    {.header img{width:150px; heigth:150px}
    }
@media (max-width:650px) 
{.header img{width:150px; heigth:50px}
    }
    .header{display: flex; flex-direction: column;
>>>>>>> 5c974880aad487140ee5549d374fcae5734dea1e
        justify-content: center;margin-left: 30px;width: 400px;position: relative;margin-top: 150px;}}